%section#sign-in
  .container
    .row
      .col-md-8.col-md-offset-2
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| { role: 'form' }
          .well{ class: "#{resource_name}-canvas" }
            %div{ class: "#{resource_name}-inputs" }
              .row
                .col-md-12.visible-xs
                  .xs-brand
                    = image_tag 'logo.png', class: 'logo', alt: Rails.application.class.parent_name.titleize, height: '25px'
              .row
                .col-md-8
                  .left-col
                    = f.input :email, required: false, autofocus: true, placeholder: 'Enter Your Email'
                    = f.input :password, required: false, placeholder: 'Enter Your Password'
                    = f.input :remember_me, :as => :boolean, :label => false, :inline_label => 'Remember Me' if devise_mapping.rememberable?
                .col-md-4.hidden-xs
                  .right-col
                    = image_tag 'logo.png', class: 'logo', alt: Rails.application.class.parent_name.titleize, height: '25px'

            %div{ class: "#{resource_name}-actions" }
              .row
                .col-md-12
                  = f.button :submit, "Sign in", class: 'btn btn-sm btn-primary'
